<header id="fh5co-header" class="fh5co-cover about-cover" role="banner" style="background-image: url(<%= asset_path 'img_bg_3.jpg' %>);" >
	<!-- <div class="overlay"></div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="fh5co-about">
	<div class="container">
		<div class="about-content">
			<div class="row animate-box">
                  <div class="col-md-6 ">
					<%= image_tag ('img_bg_1.jpg'), :class => "img-responsive", :alt => "about" %>
				</div>
				<div class="col-md-6 ">
					<div class="desc">
						<h3>Vision</h3>
						<p>To be the most successful and respected carpets distributor company that leads in Indonesia and Southeast Asia. With commitment, we build intregrity and trust for our customers</p> 
					</div>
					<div class="desc">
						<h3>Mission</h3>
						<p>Strengthen the collaboration with costumers by good communication and cooperation and providing our best products and services. In order to fulfill the highest customer satisfaction. </p> 
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>