<header id="fh5co-header" class="fh5co-cover contact-cover" role="banner" style="background-image: url(<%= asset_path 'img_bg_7.jpg' %>);">
	<!-- <div class="overlay"></div> -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Contact Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="fh5co-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-1 animate-box">
				
				<div class="fh5co-contact-info">
					<h3>Contact Information</h3>
					<ul>
						<li class="address">Jl. Grinting II No. 19, Blok A <br> Kebayoran Baru, Jakarta Selatan</li>
						<li class="phone"><a href="tel://1234567920">+6221-7220057</a></li>
						<li class="email"><a href="mailto:scaecarpet@gmail.com">scaecarpet@gmail.com</a></li>

					</ul>
				</div>

			</div>
			<div class="col-md-6 animate-box">
				<h3>Get In Touch</h3>
					<div id="map" class="fh5co-map"></div>
			</div>
		</div>
		
	</div>
</div>





