<header id="fh5co-header" class="fh5co-cover" role="banner" >
	<%= render 'slider' %>
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <div class="display-t">
                <div class="display-tc animate-box" data-animate-effect="rotateIn">
                    <!-- <h1>PT. Surya Cipta Adhi Estetika</h1> -->
                    <!-- <h2>The leading customized carpets</h2> -->
                </div>
            </div>
        </div>
    </div>
  </div>
</header>

<div id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row">
              <div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Why Us?</h2>
				<div class="strip"></div>
			</div>
		</div>
			<div class="col-md-3 col-sm-3">
				<div class="feature-center animate-box text-center" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-eye"></i>
					</span>
					<h3>Customizable</h3>
					<p>With experienced, skilled designer, and professional techniques on producing carpets to be a perfect accent for any living space as our customers needs. </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="feature-center animate-box text-center" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-box"></i>
					</span>
					<h3>Good Installation</h3>
					<p>We provide good Installation with high-skilled and experienced installation team.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="feature-center animate-box text-center" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-command"></i>
					</span>
					<h3>Aftersale Services</h3>
					<p>Treatment and care for customers as our responsibility and commitment. </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="feature-center animate-box text-center" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="icon-mouse"></i>
					</span>
					<h3>Affordable</h3>
					<p>With affordable price we can provide various type, patterns and kinds of carpets with the best quality.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-project">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Our Products</h2>
				<div class="strip"></div>
				<!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
			</div>
		</div>
		<div class="row">
			<% @products.order(id: :desc).limit(3).each do |p| %>
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <%= link_to (p) do %>
              <%= image_tag(p.product_images.find_by(category:'thumbnail').name.url(:thumbnail)) %>
              <h3><%= p.name %></h3>
            <% end %> 
          </div>  
      <% end %>
		</div>
	</div>
</div>

<div id="fh5co-blog" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Selected Portofolios</h2>
				<div class="strip"></div>
				<!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
			</div>
		</div>
		<div class="row">
			<% @portofolios.order(id: :desc).limit(3).each do |pp| %>
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <%= link_to (pp) do %>
              <%= image_tag(pp.portofolio_images.find_by(category:'thumbnail').name.url(:thumbnail)) %>
              <h3><%= pp.title %></h3>
            <% end %> 
          </div>  
      <% end %>
		</div>
	</div>
</div>


<div id="fh5co-testimonial"  style="background-image: url(<%= asset_path 'img_bg_33.jpg' %>); background-repeat:no-repeat; background-size: 100% 100%;">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Contact us now</h2>
				<div class="strip"></div>
				<p>For any questions concerning projects or inquiries, please just drop us an email.</p>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-inline">
					<div class="col-md-4 col-md-offset-4 col-sm-6 text-center">
						<%= link_to "Get in Touch", contact_path, class:'btn-scae-stroke-gold btn-block' %>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>