<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(<%= asset_path 'img_bg_4.jpg' %>);">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Portofolios</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
      
<div id="fh5co-project">
  <div class="container">
    <div class="row">
      <% @portofolios.each do |p| %>
          <div class="col-md-12 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
            <%= link_to (p) do %>
              <%= image_tag(p.portofolio_images.find_by(category:'thumbnail').name.url(:porto_thumb)) %> 
              <h3><%= p.title %></h3>
            <% end %> 
          </div>  
      <% end %>
    </div>
  </div>
      
  <div class="container">
    <div class="row">
      <div class="text-center">         
        <nav aria-label="Page navigation">
          <!-- <ul class="pagination ">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul> -->
        <%= paginate @portofolios, :theme => 'twitter-bootstrap-3' %>

        </nav>
      </div>
    </div>
  </div>
</div>