<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          &copy; 2017 PT. Surya Cipta Adhi Estetika
        <p>
        </p>
      </div>
    </div>
  </div>
</footer>