<nav class="fh5co-nav" role="navigation">
    <div class="cont">
      <div class="row">
        <div class="logo text-center">
          <div id="fh5co-logo">
            <%= link_to image_tag('Logo.png', :class => "logo-scae"), root_path %>
          </div>
          <h4>PT. Surya Cipta Adhi Estetika</h4>
        </div>
        <div class="left-menu menu-1 menu-nav">
          <ul>
            <li><%= link_to "ABOUT", about_path %></li>
            <li><%= link_to "PRODUCTS", products_path %></li>
            <li><%= link_to "PORTOFOLIOS", portofolios_path %></li>
            <li><%= link_to "CONTACT", contact_path %></li>
          </ul>
        </div>
        <!-- <div class="right-menu text-left menu-1 menu-nav">
          <ul>
            <li class="btn-cta"><a href="#"><span>Login</span></a></li>
          </ul>
        </div> -->
      </div>
      
    </div>
  </nav>