<div id="carousel-example-generic" class="carousel slide fh5co-cover" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% @slider_images.each_with_index do |outing, i| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%'active' if i == 0 %>"></li>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <%- @slider_images.each_with_index do |s, index| %>
      <div class="item fh5co-cover <% if index == 0 %> active <% end %> ">
          <%= image_tag (s.name.url(:slider)) %>
      </div>
    <% end %>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<!-- Carousel -->