<header id="fh5co-header" class="fh5co-cover products-cover" role="banner" style="background-image:url(<%= asset_path 'FullSizeRender.jpg' %>); ">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="display-t">
          <div class="display-tc animate-box" data-animate-effect="fadeIn">
            <h1>Products</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="fh5co-project">
  <div class="container">
    <div class="row">
      <% @products.each do |p| %>
          <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
            <%= link_to (p) do %>
              <%= image_tag(p.product_images.find_by(category:'thumbnail').name.url(:thumbnail)) %>
              <h3><%= p.name %></h3>
            <% end %> 
          </div>  
      <% end %>

    </div>
  </div>
</div>