<div class="product-container">
    <div class="container">
      <div class="about-content">
        <div class="row animate-box">
          <div class="col-md-12 ">
            <%- @product_images.each_with_index do |img1, i| %>
              <% if i == 0 %>
                <%= image_tag (img1.name.url(:porto_show)), :class => "img-responsive" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4 ">
            <div class="product-name">
              <h3><%= @product.name %></h3>
            </div>
          </div>
            <div class="col-md-8"> 
              <p><%= @product.product_desc %></p>
            </div>
            <div class="col-md-12 text-center">
              <%- @product_images.each do |img| %>
              <%= image_tag (img.name.url), :class => "img-responsive" %>
              <% end %>
              <div class="col-md-2 col-md-offset-5 col-sm-6">
                <%= link_to products_path do %>
                  <button type="" class="btn-scae-stroke-white">All Products</button>
                <% end %>
              </div>
            </div>
          
        </div>
      </div>
    </div>
  </div>