<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>Surya Cipta Adhi Estetika</title>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="Web Design and Development" />
  	<meta name="author" content="rakarsa" />
  	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <div class="fh5co-loader"></div>
    <div id="page">
      <%= render 'navigation' %>
      <%= yield %>
      <%= render 'footer' %>
    </div>
    <%= render 'gototop' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzP1Bc3ZsIDhb7a2nnWsnpLdx2OrY6z3w&callback=initMap"></script>
  </body>
</html>
